flows.json
[{"id":"9cf75225c849342c","type":"tab","label":"HiveMQ-Railway-Raspberry(MQTT)","disabled":false,"info":"","env":[]},{"id":"mqtt_led","type":"mqtt out","z":"9cf75225c849342c","name":"LED Raspi","topic":"raspi/led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d2e2b2182344d9ed","x":410,"y":80,"wires":[]},{"id":"mqtt_servo","type":"mqtt out","z":"9cf75225c849342c","name":"Servo Raspi","topic":"raspi/servo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d2e2b2182344d9ed","x":410,"y":140,"wires":[]},{"id":"ui_switch","type":"ui_switch","z":"9cf75225c849342c","name":"LED Switch","label":"LED","tooltip":"","group":"34ac185d583d69aa","order":2,"width":5,"height":"2","passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"mi-boton-rojo","x":210,"y":80,"wires":[["mqtt_led"]],"inputLabels":["di"],"outputLabels":["do"],"icon":"node-red-dashboard/ui_button.png"},{"id":"ui_slider","type":"ui_slider","z":"9cf75225c849342c","name":"Servo Slider","label":"Servo","tooltip":"","group":"34ac185d583d69aa","order":1,"width":5,"height":"2","passthru":true,"outs":"all","topic":"","topicType":"str","min":0,"max":180,"step":1,"className":"","x":210,"y":140,"wires":[["mqtt_servo"]]},{"id":"mqtt_dht","type":"mqtt in","z":"9cf75225c849342c","name":"DHT11 Raspi","topic":"raspi/dht","qos":"0","datatype":"auto-detect","broker":"d2e2b2182344d9ed","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":220,"wires":[["split_dht"]]},{"id":"split_dht","type":"function","z":"9cf75225c849342c","name":"Separar Temp/Hum","func":"var vals = msg.payload.split(\",\");\nreturn [\n    {payload: parseFloat(vals[0])}, // temp\n    {payload: parseFloat(vals[1])}  // hum\n];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":220,"wires":[["ui_temp"],["ui_hum"]]},{"id":"ui_hum","type":"ui_gauge","z":"9cf75225c849342c","name":"Humedad","group":"96e3f5c6c740dadd","order":1,"width":5,"height":4,"gtype":"gage","title":"Humedad %","label":"%","format":"{{value}}","min":0,"max":100,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","diff":false,"className":"","x":550,"y":240,"wires":[]},{"id":"mqtt_dist","type":"mqtt in","z":"9cf75225c849342c","name":"Ultrasonico Raspi","topic":"raspi/distancia","qos":"0","datatype":"auto-detect","broker":"d2e2b2182344d9ed","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":300,"wires":[["ui_dist"]]},{"id":"ui_dist","type":"ui_gauge","z":"9cf75225c849342c","name":"Distancia","group":"076dd541885e6961","order":1,"width":5,"height":4,"gtype":"gage","title":"Distancia cm","label":"cm","format":"{{value}}","min":0,"max":"250","colors":["#0095b3","#0a65db","#1505f0"],"seg1":"70","seg2":"180","diff":false,"className":"","x":360,"y":300,"wires":[]},{"id":"ui_temp","type":"ui_gauge","z":"9cf75225c849342c","name":"Temperatura","group":"c31273b931bb0136","order":1,"width":5,"height":4,"gtype":"gage","title":"Temp °C","label":"°C","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"22","seg2":"32","diff":false,"className":"","x":550,"y":200,"wires":[]},{"id":"d2e2b2182344d9ed","type":"mqtt-broker","name":"HiveMQ","broker":"14f368407fbf4f3c8b6111588f50b30c.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"34ac185d583d69aa","type":"ui_group","name":"Entradas","tab":"9225f7a77b40b9b0","order":1,"disp":false,"width":5,"collapse":false,"className":""},{"id":"96e3f5c6c740dadd","type":"ui_group","name":"Salidas1","tab":"9225f7a77b40b9b0","order":3,"disp":false,"width":5,"collapse":false,"className":""},{"id":"076dd541885e6961","type":"ui_group","name":"Salidas2","tab":"9225f7a77b40b9b0","order":4,"disp":false,"width":5,"collapse":false,"className":""},{"id":"c31273b931bb0136","type":"ui_group","name":"Salidas","tab":"9225f7a77b40b9b0","order":2,"disp":false,"width":5,"collapse":false,"className":""},{"id":"9225f7a77b40b9b0","type":"ui_tab","name":"GPIO","icon":"dashboard","disabled":false,"hidden":false}]